<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">
  <!-- Sheet Navigation Tabs -->
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="settings"
      ><i class="fas fa-cog"></i> {{localize "DD.TabSettings"}}</a
    >
    <a class="item" data-tab="themes"
      ><i class="fas fa-palette"></i> {{localize "DD.TabThemes"}}</a
    >
  </nav>

  <!-- Settings Tab -->
  <div class="tab" data-tab="settings">
    <div class="form-group">
      <label>{{localize "DD.DoorColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="doorColor"
          value="{{config.doorColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.doorColor}}"
          data-dtype="String"
          data-edit="doorColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.DoorFillColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="doorFillColor"
          value="{{config.doorFillColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.doorFillColor}}"
          data-dtype="String"
          data-edit="doorFillColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.DoorFillOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="doorFillOpacity"
          value="{{config.doorFillOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.DoorLineThickness"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="doorLineThickness"
          value="{{config.doorLineThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.DoorThickness"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="doorThickness"
          value="{{config.doorThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.ExteriorShadowColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="exteriorShadowColor"
          value="{{config.exteriorShadowColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.exteriorShadowColor}}"
          data-dtype="String"
          data-edit="exteriorShadowColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ExteriorShadowOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="exteriorShadowOpacity"
          value="{{config.exteriorShadowOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ExteriorShadowThickness"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="exteriorShadowThickness"
          value="{{config.exteriorShadowThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.FloorColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="floorColor"
          value="{{config.floorColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.floorColor}}"
          data-dtype="String"
          data-edit="floorColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.FloorOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="floorOpacity"
          value="{{config.floorOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.FloorTexture"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="floorTexture"
          title="Browse Files"
          tabindex="-1"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input
          class="image"
          type="text"
          name="floorTexture"
          value="{{config.floorTexture}}"
          data-dtype="String"
          placeholder="File Path"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.FloorTextureRotation"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="floorTextureRotation"
          value="{{config.floorTextureRotation}}"
          data-dtype="Number"
          min="-360"
          max="360"
          step="1"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.FloorTextureTint"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="floorTextureTint"
          value="{{config.floorTextureTint}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.floorTextureTint}}"
          data-edit="floorTextureTint"
          data-dtype="String"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.InteriorShadowColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="interiorShadowColor"
          value="{{config.interiorShadowColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.interiorShadowColor}}"
          data-dtype="String"
          data-edit="interiorShadowColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.InteriorShadowOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="interiorShadowOpacity"
          value="{{config.interiorShadowOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.InteriorShadowThickness"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="interiorShadowThickness"
          value="{{config.interiorShadowThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.InvisibleWallColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="invisibleWallColor"
          value="{{config.invisibleWallColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.invisibleWallColor}}"
          data-dtype="String"
          data-edit="invisibleWallColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.InvisibleWallFillColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="invisibleWallFillColor"
          value="{{config.invisibleWallFillColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.invisibleWallFillColor}}"
          data-dtype="String"
          data-edit="invisibleWallFillColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.InvisibleWallFillOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="invisibleWallFillOpacity"
          value="{{config.invisibleWallFillOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.InvisibleWallLineThickness"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="invisibleWallLineThickness"
          value="{{config.invisibleWallLineThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.InvisibleWallThickness"}}</label>
      <div class="form-fields">
        <input
          type="text"
          name="invisibleWallThickness"
          value="{{config.invisibleWallThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.SceneBackgroundColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="sceneBackgroundColor"
          value="{{config.sceneBackgroundColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.sceneBackgroundColor}}"
          data-dtype="String"
          data-edit="sceneBackgroundColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.SceneGridColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="sceneGridColor"
          value="{{config.sceneGridColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.sceneGridColor}}"
          data-dtype="String"
          data-edit="sceneGridColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.SceneGridOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="sceneGridOpacity"
          value="{{config.sceneGridOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.SecretDoorSColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="secretDoorSColor"
          value="{{config.secretDoorSColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.secretDoorSColor}}"
          data-dtype="String"
          data-edit="secretDoorSColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.SecretDoorStyleGM"}}</label>
      <div class="form-fields">
        <select name="secretDoorStyleGM" data-dtype="string">
          {{#select config.secretDoorStyleGM}}
          <option value="door">Door</option>
          <option value="secret">Secret</option>
          <option value="wall">Wall</option>
          {{/select}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.SecretDoorStylePlayer"}}</label>
      <div class="form-fields">
        <select name="secretDoorStylePlayer" data-dtype="string">
          {{#select config.secretDoorStylePlayer}}
          <option value="door">Door</option>
          <option value="secret">Secret</option>
          <option value="wall">Wall</option>
          {{/select}}
        </select>
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label>{{localize "DD.WallColor"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="wallColor"
          value="{{config.wallColor}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.wallColor}}"
          data-dtype="String"
          data-edit="wallColor"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.WallOpacity"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="wallOpacity"
          value="{{config.wallOpacity}}"
          data-dtype="Number"
          min="0"
          max="1"
          step="0.05"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.WallTexture"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="wallTexture"
          title="Browse Files"
          tabindex="-1"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input
          class="image"
          type="text"
          name="wallTexture"
          value="{{config.wallTexture}}"
          data-dtype="String"
          placeholder="File Path"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.WallTextureTint"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="wallTextureTint"
          value="{{config.wallTextureTint}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.wallTextureTint}}"
          data-edit="wallTextureTint"
          data-dtype="String"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.WallThickness"}}</label>
      <div class="form-fields">
        <input
          type="text"
          name="wallThickness"
          value="{{config.wallThickness}}"
          data-dtype="Number"
        />
      </div>
    </div>
    {{#if threeDCanvasEnabled}}
    <hr />
    <div class="form-group">
      <label>{{localize "DD.ThreeDDoorTexture"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="threeDDoorTexture"
          title="Browse Files"
          tabindex="-1"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input
          class="image"
          type="text"
          name="threeDDoorTexture"
          value="{{config.threeDDoorTexture}}"
          data-dtype="String"
          placeholder="File Path"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ThreeDDoorTextureTint"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="threeDDoorTextureTint"
          value="{{config.threeDDoorTextureTint}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.threeDDoorTextureTint}}"
          data-edit="threeDDoorTextureTint"
          data-dtype="String"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ThreeDWallTexture"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="threeDWallTexture"
          title="Browse Files"
          tabindex="-1"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input
          class="image"
          type="text"
          name="threeDWallTexture"
          value="{{config.threeDWallTexture}}"
          data-dtype="String"
          placeholder="File Path"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ThreeDWallTextureTint"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="threeDWallTextureTint"
          value="{{config.threeDWallTextureTint}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.threeDWallTextureTint}}"
          data-edit="threeDWallTextureTint"
          data-dtype="String"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ThreeDWallSidesTexture"}}</label>
      <div class="form-fields">
        <button
          type="button"
          class="file-picker"
          data-type="imagevideo"
          data-target="threeDWallSidesTexture"
          title="Browse Files"
          tabindex="-1"
        >
          <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input
          class="image"
          type="text"
          name="threeDWallSidesTexture"
          value="{{config.threeDWallSidesTexture}}"
          data-dtype="String"
          placeholder="File Path"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.ThreeDWallSidesTextureTint"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="color"
          name="threeDWallSidesTextureTint"
          value="{{config.threeDWallSidesTextureTint}}"
          data-dtype="String"
        />
        <input
          type="color"
          value="{{config.threeDWallSidesTextureTint}}"
          data-edit="threeDWallSidesTextureTint"
          data-dtype="String"
        />
      </div>
    </div>
    {{/if}}
    <br />
    <div style="display: flex">
      <button type="button" name="resetDefault" value="1">
        <i class="fas fa-sync"></i> {{localize "DD.ResetToDefaults"}}
      </button>
      <button type="submit" name="submit" value="1">
        <i class="fas fa-check"></i> {{localize "DD.OK"}}
      </button>
    </div>
  </div>

  <!-- Themes Tab -->
  <div class="tab" data-tab="themes">
    <h2>{{localize "DD.CustomThemes"}}</h2>
    <div class="dd-themes">
      {{#each customThemeKeys as |themeKey|}}
      <div
        class="dd-theme-row"
        data-themetype="custom"
        data-theme="{{themeKey}}"
      >
        <div class="dd-theme-name">
          {{name}} {{#with (lookup ../customThemes themeKey)~}} {{name}}
          {{/with}}
        </div>
        <div class="dd-theme-controls">
          <a
            class="item-control item-edit dd-theme-edit"
            title='{{localize "DD.EditTheme"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a
            class="item-control item-edit dd-theme-copy"
            title='{{localize "DD.CopyTheme"}}'
            ><i class="fas fa-copy"></i
          ></a>
          <a
            class="item-control item-delete dd-theme-delete"
            title='{{localize "DD.DeleteTheme"}}'
            ><i class="fas fa-trash"></i
          ></a>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="form-group">
      <label>{{localize "DD.SaveAsCustomTheme"}}</label>
      <div class="form-fields">
        <input
          type="text"
          class="saveAsThemeName"
          name="saveAsThemeName"
          value=""
          placeholder='{{localize "DD.ThemeNamePlaceholder"}}'
          data-dtype="String"
        />
        <button type="button" class="dd-save-as-theme-button">
          <i class="fas fa-save"></i>
        </button>
      </div>
    </div>
    <div class="form-group">
      <button
        type="button"
        class="dd-export-themes-button"
        title="{{localize 'DD.Export'}}"
      >
        <i class="fas fa-file-export"></i>{{localize "DD.Export"}}
      </button>
      <button
        type="button"
        class="dd-import-themes-button"
        title="{{localize 'DD.Import'}}"
      >
        <i class="fas fa-file-import"></i>{{localize "DD.Import"}}
      </button>
    </div>
    <br />
    <div class="dd-themes">
      <h2>{{localize "DD.ModuleThemes"}}</h2>
      {{#each themeKeys as |themeKey|}}
      <div class="dd-theme-row" data-theme="{{themeKey}}">
        <div class="dd-theme-name item-control">
          {{name}} {{#with (lookup ../themes themeKey)~}} {{name}} {{/with}}
        </div>
        <div class="dd-theme-controls"></div>
      </div>
      {{/each}}
    </div>
  </div>
</form>
<!--This is just to take up empty space after the form, helps with recalculating heights -->
<div class="empty-space"></div>
