<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">

    <!-- Sheet Navigation Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="settings"><i class="fas fa-cog"></i> {{localize "DD.TabSettings"}}</a>
    </nav>

    <!-- Settings Tab -->
    <div class="tab" data-tab="settings">
      <div class="wallfloor-section">
        <div class="form-group">
          <label>{{localize "DD.ApplyTheme"}}</label>
          <div class="form-fields">
            <select name="theme" data-dtype="string">
                <option value="" selected></option>
                {{#select object.theme}}
                    {{#each themes as |themeObj themeKey|}}
                        <option value="{{themeKey}}">{{themeObj.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
          </div>
        </div>
        <hr/>        
        <div class="form-group">
          <label>{{localize "DD.DoorColor"}}</label>
          <div class="form-fields">
            <input type="color" name="doorColor" value="{{object.doorColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.DoorFillColor"}}</label>
          <div class="form-fields">
            <input type="color" name="doorFillColor" value="{{object.doorFillColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.DoorFillOpacity"}}</label>
          <div class="form-fields">
            <input type="number" name="doorFillOpacity" value="{{object.doorFillOpacity}}" data-dtype="Number" min=0 max=1 step=0.05 />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.DoorThickness"}}</label>
          <div class="form-fields">
            <input type="number" name="doorThickness" value="{{object.doorThickness}}" data-dtype="Number"/>
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label>{{localize "DD.InteriorShadowColor"}}</label>
          <div class="form-fields">
            <input type="color" name="interiorShadowColor" value="{{object.interiorShadowColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.InteriorShadowOpacity"}}</label>
          <div class="form-fields">
            <input type="number" name="interiorShadowOpacity" value="{{object.interiorShadowOpacity}}" data-dtype="Number" min=0 max=1 step=0.05 />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.InteriorShadowThickness"}}</label>
          <div class="form-fields">
            <input type="number" name="interiorShadowThickness" value="{{object.interiorShadowThickness}}" data-dtype="Number"/>
          </div>
        </div>        
        <hr/>
        <div class="form-group">
          <label>{{localize "DD.ExteriorShadowColor"}}</label>
          <div class="form-fields">
            <input type="color" name="exteriorShadowColor" value="{{object.exteriorShadowColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.ExteriorShadowOpacity"}}</label>
          <div class="form-fields">
            <input type="number" name="exteriorShadowOpacity" value="{{object.exteriorShadowOpacity}}" data-dtype="Number" min=0 max=1 step=0.05 />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.ExteriorShadowThickness"}}</label>
          <div class="form-fields">
            <input type="number" name="exteriorShadowThickness" value="{{object.exteriorShadowThickness}}" data-dtype="Number"/>
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label>{{localize "DD.FloorColor"}}</label>
          <div class="form-fields">
            <input type="color" name="floorColor" value="{{object.floorColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.FloorTexture"}}</label>
          <div class="form-fields">
            <button type="button" class="file-picker" data-type="imagevideo" data-target="floorTexture" title="Browse Files" tabindex="-1">
              <i class="fas fa-file-import fa-fw"></i>
            </button>
            <input class="image" type="text" name="floorTexture" value="{{object.floorTexture}}" data-dtype="String" placeholder="File Path" />
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label>{{localize "DD.SceneBackgroundColor"}}</label>
          <div class="form-fields">
            <input type="color" name="sceneBackgroundColor" value="{{object.sceneBackgroundColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.SceneGridColor"}}</label>
          <div class="form-fields">
            <input type="color" name="sceneGridColor" value="{{object.sceneGridColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DD.SceneGridOpacity"}}</label>
          <div class="form-fields">
            <input type="number" name="sceneGridOpacity" value="{{object.sceneGridOpacity}}" data-dtype="Number" min=0 max=1 step=0.05 />
          </div>
        </div>        
        <hr/>
        <div class="form-group">
          <label>{{localize "DD.WallColor"}}</label>
          <div class="form-fields">
            <input type="color" name="wallColor" value="{{object.wallColor}}" data-dtype="String"/>
          </div>
        </div>
        <div class="form-group">
          <label >{{localize "DD.WallThickness"}}</label>
          <div class="form-fields">
            <input type="text" name="wallThickness" value="{{object.wallThickness}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

    </div>

    <hr>
    <div style="display: flex;">
      <button type="button" name="resetDefault" value="1"><i class="fas fa-sync"></i> {{localize "DD.SubmitReset"}}</button>
      <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "DD.SubmitSave"}} </button>
    </div>
</form>
<!--This is just to take up empty space after the form, helps with recalculating heights -->
<div class="empty-space"></div>