<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">
  <!-- Sheet Navigation Tabs -->
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="settings"
      ><i class="fas fa-cog"></i> {{localize "DD.TabGeneratorSettings"}}</a
    >
  </nav>

  <!-- Settings Tab -->
  <div class="tab" data-tab="settings">
    <div class="form-group">
      <label>{{localize "DD.Algorithm"}}</label>
      <div class="form-fields">
        <select name="algorithm" data-dtype="String">
          {{#select algorithm}}
          <option value="2d-dungeon">2d-dungeon</option>
          <option value="rot-js-cellular">rot.js cellular</option>
          <option value="dungeoneer">dungeoneer</option>
          {{/select}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.Height"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="height"
          value="{{height}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.Width"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="width"
          value="{{width}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "DD.Smoothing"}}</label>
      <div class="form-fields">
        <input
          type="number"
          name="smoothing"
          value="{{smoothing}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <hr />
    <div style="display: flex">
      <button type="button" name="generate" value="1">
        <i class="fas fa-magic"></i> {{localize "DD.Generate"}}
      </button>
    </div>
  </div>
</form>
<!--This is just to take up empty space after the form, helps with recalculating heights -->
<div class="empty-space"></div>
