.dd-themes {
  display: flex;
  flex-direction: column;
}
.dd-themes .dd-theme-row {
  border-bottom: 1px solid black;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.dd-themes .dd-theme-row:last-child {
  border-bottom: none;
}
.dd-themes .dd-theme-row .dd-theme-name {
  flex: 1;
}
.dd-themes .dd-theme-row .dd-theme-name:hover {
  cursor: pointer;
  text-shadow: 0 0 10px red;
}
.dd-themes .dd-theme-row .dd-theme-controls {
  display: flex;
  flex: 0 0 80px;
  justify-content: space-around;
}
#dd-control-tools {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 96px;
  top: 96px;
  /* width: 220px; */
  box-shadow: none;
}
#dd-control-tools:hover {
}
#dd-control-tools .dd-control-wrapper {
  padding: 10px;
  width: auto !important;
  height: auto !important;
  cursor: auto !important;
}
#dd-control-tools .dd-control-wrapper:hover {
  padding: 10px;
  border-radius: 5px !important;
}
#dd-control-tools .addremove-toggle-row {
  display: flex;
  font-size: 16px;
}
#dd-control-tools .addremove-toggle-row .addremove-toggle {
  border: 1px solid black;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  padding: 4px;
  text-align: center;
  width: 90px;
}
#dd-control-tools .addremove-toggle {
  cursor: pointer;
}
#dd-control-tools .addremove-toggle-row .addremove-toggle:hover {
  background: var(--control-active-bg-color);
  border-color: var(--control-active-border-color);
  color: var(--control-active-icon-color);
}
#dd-control-tools .addremove-toggle-row .addremove-toggle.toggle-on {
  background: var(--control-active-bg-color);
  border-color: var(--control-active-border-color);
  color: var(--control-active-icon-color);
}
#dd-control-tools .control-tool-row {
  display: flex;
  height: 36px;
}
#dd-control-tools .control-row-separator {
  background-color: rgba(255, 255, 255, 0.2);
  height: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
#dd-control-tools .control-tool {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: content-box;
  color: #bbb;
  cursor: pointer;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
  width: 32px;
}
#dd-control-tools .control-tool:hover {
  background: var(--control-active-bg-color);
  border-color: var(--control-active-border-color);
  color: var(--control-active-icon-color);
}
#dd-control-tools .control-tool.toggle {
}
#dd-control-tools .control-tool.toggle:hover {
  background: var(--control-active-bg-color);
  border-color: var(--control-active-border-color);
  color: var(--control-active-icon-color);
}
#dd-control-tools .control-tool.toggle.active {
  background: var(--control-active-bg-color);
  border-color: var(--control-active-border-color);
  color: var(--control-active-icon-color);
}
#dd-control-tools select {
  font-family: Signika, sans-serif;
  font-size: 16px;
}
